<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.iweizi.stepchanger">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:name="me.iweizi.stepchanger.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/running"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/running"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wechat.WechatDetailsActivity"
            android:label="@string/title_activity_wechat_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".alipay.AlipayDetailsActivity"
            android:label="@string/title_activity_alipay_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".qq.QQDetailsActivity"
            android:label="@string/title_activity_qq_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".HelpActivity"
            android:label="@string/help">
        </activity>
    </application>

</manifest>